$dark-grey: #444444;
$very-light-grey: #e5e5e5;
$almost-white: rgba(255, 255, 255, .95);

// Tags
$tag-link-color: $dark-grey;
$tag-background: $very-light-grey;

// Watch links
$card-color: $almost-white;
