@import "includes/colors";

.top-bar {
  background:      $dark-grey;
  color:           $very-light-grey;
  display:         flex;
  justify-content: space-between;
  position:        fixed;
  width:           100%;
  z-index:         2;
  top:             0;
}

.main-title {
  font-size: 2em;
  margin: .2em .5em;
  font-weight: normal;
}

.tags-nav-icon {
  width:  2em;
  height: 2em;
  margin: .5em 2em;

  line {
    stroke: $very-light-grey;
    stroke-width: .25em;
    stroke-linecap: round;
    transition: all .5s;
  }

  &.active {
    .middle-line {
      stroke-width: 0;
    }

    .top-line {
      transform: rotate(45deg) translate(.5em, -.35em);
    }

    .bottom-line {
      transform: rotate(-45deg) translate(-1.2em, -.4em);
    }
  }
}

.tag-list-opener {
  cursor: pointer;
}
