@import "includes/colors";

@mixin tag-list() {
  align-content:   flex-start;
  display:         flex;
  flex-direction:  row;
  flex-wrap:       wrap;
  justify-content: flex-start;
  list-style-type: none;
}

@mixin tag() {
  margin:  .3em .4em;
  padding: .1em .5em;
}

.tags-list {
  @include tag-list;
  background: lighten($very-light-grey, 5%);
  margin:     0;
  padding:    1em;
  max-height: 100em;
  transition: all 1s;
  position:   fixed;
  top:        3em;
  z-index:    1;
  overflow:   hidden;

  @media screen and (max-width: 1023px) {
    box-shadow: inset 0 0 .5em -.3em darken($tag-background, 20%);

    &.closed {
      max-height: 0;
      padding:    0 1em;
    }
  }

  @media screen and (min-width: 1024px) {
    box-shadow: -.5em 0 .5em -.3em darken($tag-background, 20%);
    bottom:     0;
    height:     calc(100vh - 3em);
    width:      35vw;
    overflow:   auto;

    &:not(.open) {
      right: -40vw;
    }

    &.open {
      box-shadow: #2e2e2e;
      right:      0;
    }
  }
}

.tag {
  @include tag;

  &.active {
    background: darken($tag-background, 10%);
  }
}

.tag-link {
  color:           $tag-link-color;
  text-decoration: none;

  &::before {
    content: '#';
    color:   darken($tag-link-color, 20%);
  }
}

.tag-link-count {
  color:       lighten($tag-link-color, 30%);
  margin-left: .5em;
}

.watch-links-tags {
  @include tag-list;
  margin:  1em 0;
  padding: 0;

  .watch-links-tag {
    @include tag;
  }
}
