@import "includes/colors";

.tags-list {
  align-content: flex-start;
  background: darken($almost-white, .5%);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 4em 1em;
  max-height: 100em;

  box-shadow: inset 0 0 .5em -.3em darken($tag-background, 20%);

  transition: all 1s;

  &.closed {
    overflow: hidden;
    max-height: 0;
    padding: 0 1em;
  }
}

.tag {
  background: $tag-background;
  margin: .3em .4em;
  border-radius: .2em;
  padding: .1em .5em;
  box-shadow: .08em .08em .15em 0 darken($tag-background, 20%);

  &.active {
    background: darken($tag-background, 10%);
  }
}

.tag-link {
  color: $tag-link-color;
  text-decoration: none;

  &::before {
    content: '#';
    color: darken($tag-link-color, 20%);
  }
}

.tag-link-count {
  color: lighten($tag-link-color, 30%);
  margin-left: .5em;
}
