@import "includes/colors";

.watch-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  margin: 3em 0 0 0;
  padding: 0;
}

.watch-link {
  background: $almost-white;
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  justify-content: center;
  padding: 0;
  flex-basis: 20em;
  max-width: 30em;
  box-shadow: .05em .05em .15em 0 $tag-background;

  .watch-link-link {
    color: $grey;
    display: block;
    max-width: 18em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @media (min-width: 30em) {
    border-radius: .4em;
    margin: 1em;
  }

  @media (max-width: 29.99em) {
    margin: 1em 0;
  }

  .watch-link-title {
    display: inline-table;
    table-layout: fixed;
    margin: .4em 0;
    width: 100%;
    word-wrap: break-word;
    text-shadow: .05em .05em .05em $tag-background;
  }

  .watch-link-title-link {
    color: $tag-link-color;
    text-decoration: none;
  }

  .watch-link-image-container {
    text-align: center;
  }

  .watch-link-image {
    width: 100%;
    height: auto;
  }

  .watch-link-content {
    padding: .5em 1em;
  }
}
